<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="container py-4">
		<div class="card-header py-4">
				<div th:text="${titulo}"></div>
		</div>
		<h4 th:text=${nombre}></h4>
		<div class="card-body py-4">
				<table class="table table-hover">
				  <thead>
				    <tr>
				       	<th scope="col">id</th>
			      		<th scope="col">Banco</th>
			      		<th scope="col">Nro Cuenta</th>
			      		<th scope="col">Saldo</th>
			      		<th scope="col">Movimientos</th>
				    </tr>
				  </thead>
				  <tbody>
				   	<tr th:each="cuenta: ${cuentas}">
				      <td th:text="${cuenta.id}"></td>
				      <td th:text="${cuenta.banco}"></td>
				      <td th:text="${cuenta.nroCuenta}"></td>
				      <td th:text="${cuenta.saldo}"></td>
				      <td><a th:href="@{/listarmovimientos/} + ${cuenta.id}" class="btn btn-info">Detalle</a></td>
			    	</tr>
				  </tbody>
				</table>
			
				
				<div class="row container">
				<div class="col">
				<a th:href= "@{'/nuevacuenta/' + ${idcliente}}"class="btn btn-primary" role="button">Agregar</a>
					
			</div>
			<div class="col">
					<a th:href= "@{/cliente/listar}"class="btn btn-primary" role="button">Volver</a>
			</div>
			</div>
		</div>
	</div>
</body>
</html>