<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/css/jquery-ui.min.css}" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
		<div class="card-header">
			<div th:text="${titulo}"></div>
		</div>
		<div class="card border-warning mb-3">
						<div class="card-body text-warning">
						
						
							<div class="form-group">
						    	<label for="exampleInputPassword1">Cliente</label>
						    	<input th:value="${cliente} " type="text" class="form-control" disabled='disabled'>
						 	</div>
						 	
							<div class="form-group">
						    	<label for="exampleInputPassword1">Cuenta</label>
						    	<input th:value="${ncuenta} " type="text" class="form-control" disabled='disabled'>
						 	</div>
						 	
						 	<div class="form-group">
						    	<label for="exampleInputPassword1">Banco</label>
						    	<input th:value="${banco} " type="text" class="form-control" disabled='disabled'>
						 	</div>
						 	
						 </div>
						
						
					</div>
		<div class="card-body">
		
			<div th:if="${advertencia}">
				<div class="card">
				  <div class="card-heading bg-warning">Advertencia</div>
				  <div class="card-body bg-default" th:text="${mensaje}"></div>
				</div>
			</div>
		
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">id</th>
			      <th scope="col">tipo</th>
			      <th scope="col">Monto</th>
			     
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="movimiento: ${movimientos}">
			      <td th:text="${movimiento.id}"></td>
			      <td th:text="${movimiento.tipo}"></td>
			      <td th:text="${movimiento.monto}"></td>
			     
			    </tr>
			  </tbody>
			</table>
			
			<div class="row container">
				<div class="col">
				<a th:href= "@{'/nuevomovimiento/' + ${idcuenta}}"class="btn btn-primary" role="button">Agregar</a>
					
			</div>
			<div class="col">
					<a th:href="@{'/listarcuentas/' + ${idcliente}}"  class="btn btn-primary" role="button">Volver</a>
			</div>
			</div>
		</div>
	</div>
</body>
</html>